---
import NextJs from './icons/NextJs.astro'
import Html from "./icons/Html.astro"


const TAGS = {
  HTML: {
    name: "HTML-5",
    class: "bg-[#E5532D] text-white",
    icon: Html
  },

  JS: {
    name: "JS",
    class: "bg-[#F7E025] text-white"
  },


  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: NextJs,
  },
}
const PROJECTS = [
 {
    title: 'Tienda Online: "La Pesebrera"',
    description: 'Quería crear una tienda en línea fácil de usar, manteniendo la estética de la marca reconocible. La toma muestra una página de producto. Mantuve el esquema de color blanco y negro del sitio actual, pero agregué algunos toques morados para hacerlo menos contrastante y agresivo. Ahora la página de inicio se parece más a un catálogo de productos de marca.',
    link: 'https://lapesebrera.com/',
    image: 'projects/pesebrera.jpg',
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JS ]
 },

 {
    title: "Rediseño de la aplicación 💰 Salary on Demand ",
    description:
      'Durante mi mandato de cinco meses como diseñador de UX/UI en Payer en 2023, desempeñé un papel clave en el rediseño de la aplicación "Payer Salary on Demand". El objetivo era brindar a los usuarios un control financiero mejorado y crear una experiencia de banca digital más agradable. ',
    link: "https://www.figma.com/proto/20oDrylRKMlrhLsqZatwaE/UX-CASE-STUDY-DEY--2.0?page-id=2%3A5&type=design&node-id=1528-1272&viewport=3072%2C-1777%2C0.19&scaling=contain&starting-point-node-id=1528%3A1272&show-proto-sidebar=1",
    image: 'projects/payerMockup.png',
    tags: [TAGS.HTML, TAGS.TAILWIND],
  },
]
---
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                {/* <tag.icon class="size-4" /> */}
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

        </div>

        <div class="mt-4">
      <p class="text-white-900 dark:text-gray-400">
        {description}
      </p>

      
    </div>

      

     
</article>
)
  )
}
</div>